src/main/resources/ANT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema id="ANT" xmlns=""
		   xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="TerritorialeAnagrafica">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AnnoRiferimento" type="AnnoRiferimento"/>
                <xs:element name="PeriodoRiferimento" type="PeriodoRiferimento"/>
                <xs:element name="CodiceRegione" type="CodiceRegione"/>
                <xs:element maxOccurs="unbounded" name="AziendaSanitariaRiferimento">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CodiceAziendaSanitariaRiferimento"
                                        type="CodiceAziendaSanitariaRiferimento"/>
                            <xs:element maxOccurs="unbounded" name="DSM">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="CodiceDSM" type="CodiceDSM"/>
                                        <xs:element maxOccurs="unbounded" name="Assistito">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Id_Rec" type="Id_Rec"/>
                                                    <xs:element name="CUNI" type="CUNI"/>
                                                    <xs:element name="validitaCI" type="validitaCI"/>
                                                    <xs:element name="tipologiaCI" type="tipologiaCI"/>
                                                    <xs:element name="AnnoNascita" type="AnnoNascita"/>
                                                    <xs:element name="Sesso" type="Sesso"/>
                                                    <xs:element name="Cittadinanza" type="Cittadinanza"/>
                                                    <xs:element name="CodiceRegioneResidenza"
                                                                type="CodiceRegioneResidenza"/>
                                                    <xs:element name="ASLResidenza" type="ASLResidenza"/>
                                                    <xs:element minOccurs="0" name="StatoEsteroResidenza"
                                                                type="StatoEsteroResidenza"/>
                                                    <xs:element name="StatoCivile" type="StatoCivile"/>
                                                    <xs:element name="CollocazioneSocioAmbientale"
                                                                type="CollocazioneSocioAmbientale"/>
                                                    <xs:element name="TitoloStudio" type="TitoloStudio"/>
                                                    <xs:element name="CodiceProfessionale" type="CodiceProfessionale"/>
                                                    <xs:element default="I" name="TipoOperazione"
                                                                type="TipoOperazione"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="AnnoRiferimento">
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:pattern value="[1-2]{1}[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CodiceRegione">
        <xs:restriction base="xs:string">
            <xs:enumeration value="010"/>
            <xs:enumeration value="020"/>
            <xs:enumeration value="030"/>
            <xs:enumeration value="041"/>
            <xs:enumeration value="042"/>
            <xs:enumeration value="050"/>
            <xs:enumeration value="060"/>
            <xs:enumeration value="070"/>
            <xs:enumeration value="080"/>
            <xs:enumeration value="090"/>
            <xs:enumeration value="100"/>
            <xs:enumeration value="110"/>
            <xs:enumeration value="120"/>
            <xs:enumeration value="130"/>
            <xs:enumeration value="140"/>
            <xs:enumeration value="150"/>
            <xs:enumeration value="160"/>
            <xs:enumeration value="170"/>
            <xs:enumeration value="180"/>
            <xs:enumeration value="190"/>
            <xs:enumeration value="200"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PeriodoRiferimento">
        <xs:restriction base="xs:string">
            <xs:enumeration value="S1"/>
            <xs:enumeration value="S2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CodiceAziendaSanitariaRiferimento">
        <xs:restriction base="xs:string">
            <xs:length value="3"/>
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CodiceDSM">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnnoNascita">
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:pattern value="[1-2]{1}[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Sesso">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Cittadinanza">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CodiceRegioneResidenza">
        <xs:restriction base="xs:string">
            <xs:enumeration value="010"/>
            <xs:enumeration value="020"/>
            <xs:enumeration value="030"/>
            <xs:enumeration value="041"/>
            <xs:enumeration value="042"/>
            <xs:enumeration value="050"/>
            <xs:enumeration value="060"/>
            <xs:enumeration value="070"/>
            <xs:enumeration value="080"/>
            <xs:enumeration value="090"/>
            <xs:enumeration value="100"/>
            <xs:enumeration value="110"/>
            <xs:enumeration value="120"/>
            <xs:enumeration value="130"/>
            <xs:enumeration value="140"/>
            <xs:enumeration value="150"/>
            <xs:enumeration value="160"/>
            <xs:enumeration value="170"/>
            <xs:enumeration value="180"/>
            <xs:enumeration value="190"/>
            <xs:enumeration value="200"/>
            <xs:enumeration value="098"/>
            <xs:enumeration value="998"/>
            <xs:enumeration value="999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ASLResidenza">
        <xs:restriction base="xs:string">
            <xs:length value="3"/>
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IDCittadino">
        <xs:restriction base="xs:string">
            <xs:minLength value="20"/>
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StatoEsteroResidenza">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StatoCivile">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CollocazioneSocioAmbientale">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TitoloStudio">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CodiceProfessionale">
        <xs:restriction base="xs:string">
            <xs:enumeration value="01"/>
            <xs:enumeration value="02"/>
            <xs:enumeration value="03"/>
            <xs:enumeration value="04"/>
            <xs:enumeration value="05"/>
            <xs:enumeration value="06"/>
            <xs:enumeration value="07"/>
            <xs:enumeration value="08"/>
            <xs:enumeration value="09"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipoOperazione">
        <xs:restriction base="xs:string">
            <xs:enumeration value="I"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="V"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Id_Rec">
        <xs:restriction base="xs:string">
            <xs:length value="88"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUNI">
        <xs:restriction base="xs:string">
            <xs:length value="88"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="validitaCI">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[0-1]{1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tipologiaCI">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="99"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>